.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
h1{
    color: rgb(226, 69, 51);
}
h3{
    color: rgb(5, 114, 61);
}
hr{
    width: 50%;
    height: 3px;
    background-color: rgb(5, 114, 61);
}